# Matías Obezzi

<p>
    <img src="https://img.shields.io/badge/-C++-00599C?style=flat-square&logo=c%2B%2B&logoColor=white">
    <img src="https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=python&logoColor=white">
    <img src="https://img.shields.io/badge/-HTML-E34F26?style=flat-square&logo=html5&logoColor=white">
    <img src="https://img.shields.io/badge/-VueJS-41B883?style=flat-square&logo=vue.js&logoColor=white">
    <img src="https://img.shields.io/badge/-Angular-DD0031?style=flat-square&logo=Angular&logoColor=white">
    <img src="https://img.shields.io/badge/-ReactJS-61DBFB?style=flat-square&logo=React&logoColor=white">
    <img src="https://img.shields.io/badge/-NodeJS-339933?style=flat-square&logo=node.js&logoColor=white">
    <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=white">
    <img src="https://img.shields.io/badge/-jQuery-0769AD?style=flat-square&logo=jQuery&logoColor=white">
    <img src="https://img.shields.io/badge/-Spring-6DB33F?style=flat-square&logo=spring&logoColor=white">
    <img src="https://img.shields.io/badge/-CSS-1572B6?style=flat-square&logo=css3&logoColor=white">
    <img src="https://img.shields.io/badge/-Meteor-DE4F4F?style=flat-square&logo=Meteor&logoColor=white">
    <img src="https://img.shields.io/badge/-Firebase-FFCA28?style=flat-square&logo=firebase&logoColor=white">
    <img src="https://img.shields.io/badge/-Adobe_Photoshop-31A8FF?style=flat-square&logo=Adobe-Photoshop&logoColor=white">
    <img src="https://img.shields.io/badge/-Adobe_Illustrator-FF9A00?style=flat-square&logo=Adobe-Illustrator&logoColor=white">
    <img src="https://img.shields.io/badge/-Bootstrap-563D7C?style=flat-square&logo=bootstrap&logoColor=white">
    <img src="https://img.shields.io/badge/-GitHub-181717?style=flat-square&logo=GitHub&logoColor=white">
</p>

## Actualmente 💻
Tengo {{edad}} años y estudio Ingeniería en Sistemas de Información en la Universidad Tecnológica Nacional - FRBA.  
Actualmente me encuentro en mi 3er año de cursada, realizando materias de 2do año con un promedio de 8.13.  
Me dedico al desarrollador web con VueJS. Aunque, estoy expandiendo mis conocimientos hacia Angular.  
Me gusta mucho la programación y me apasiona el realizar algoritmos que cumplan con lo requerido. Suelo analizar algoritmos ya existentes para comprender su funcionamiento y el porqué de su existencia.  
Formo parte de un equipo de investigación realizando una plataforma de enseñanza para la asignatura de Física y soy auxiliar docente de Algoritmos y Estructuras de Datos.  
En cuanto a lo laboral, me quiero formar como un desarrollador web y en un futuro ser un experto en ciberseguridad.  

## Proyectos 📚
Repositorios en [GitHub](https://github.com/Matias-Obezzi?tab=repositories) y listado en [mi web](https://matias-obezzi.github.io/#proyectos).  
Links de mis mejores proyectos:  
[![Automatas](https://img.shields.io/badge/Automatas-8e2de2?&style=for-the-badge)](https://automatas-mo.web.app)
[![RedUTN](https://img.shields.io/badge/RedUTN-6C000A?&style=for-the-badge)](https://redutn-mo.web.app)
[![Socket Chat](https://img.shields.io/badge/Socket_Chat-black?&style=for-the-badge)](https://mo-socket-chat.herokuapp.com)
[![Template E-Commerce](https://img.shields.io/badge/Template_ECommerce-3C3E96?&style=for-the-badge)](https://ludetex-mo.web.app)

## Contacto 📱
[![Email](https://img.shields.io/badge/email-00FF00?&style=for-the-badge)](mailto:matiasobezzi@gmail.com)
[![Web Personal](https://img.shields.io/badge/web_personal-red?&style=for-the-badge)](https://matias-obezzi.github.io)
[![LinkedIn](https://img.shields.io/badge/linkedin-0077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/matias-obezzi)